Repository tektoncd/plumbing, pull requests merged in 2024-11, with the labels that each got.

#2271 feat: Added OCI labels for dockerfile in images folder
  tekton/images/alpine-git-nonroot/Dockerfile
  tekton/images/buildx-gcloud/Dockerfile
  tekton/images/coverage/Dockerfile
  tekton/images/hub/Dockerfile
  tekton/images/kind-e2e/Dockerfile
  tekton/images/kind/Dockerfile
  tekton/images/ko-gcloud/Dockerfile
  tekton/images/ko/Dockerfile
  tekton/images/koparse/Dockerfile
  tekton/images/kubectl/Dockerfile
  tekton/images/test-runner/Dockerfile
  tekton/images/tkn/Dockerfile
Labels: kind/feature, lgtm, approved, size/M, ok-to-test, Hacktoberfest

#2272 feat: Updated cronjobs to publish to ghcr.io
  tekton/cronjobs/dogfooding/images/alpine-git-nonroot-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/buildx-gcloud-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/catlin-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/coverage-image-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/go-rest-api-test-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/hub-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/kind-e2e-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/kind-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/ko-gcloud-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/ko-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/koparse-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/kubectl-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/pipeline-test-runner-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/teps-community-nightly/cronjob.yaml
  tekton/cronjobs/dogfooding/images/tkn-nightly/cronjob.yaml
Labels: kind/feature, lgtm, approved, size/M, ok-to-test, hacktoberfest-accepted, Hacktoberfest

#2279 prow: enable cherry-picker for chains
  prow/plugins.yaml
Labels: lgtm, approved, size/XS, kind/misc

#2297 Switch CI/CD jobs to ghcr.io images
  bots/mariobot/README.md
  docs/kind-e2e.md
  prow/config.yaml
  tekton/ci/cluster-interceptors/add-pr-body/tekton/publish.yaml
  tekton/ci/cluster-interceptors/build-id/tekton/publish.yaml
  tekton/ci/custom-tasks/pr-commenter/tekton/publish.yaml
  tekton/ci/custom-tasks/pr-status-updater/tekton/publish.yaml
  tekton/ci/interceptors/add-pr-body/tekton/publish.yaml
  tekton/ci/interceptors/add-team-members/tekton/publish.yaml
  tekton/ci/jobs/e2e-kind.yaml
  tekton/ci/jobs/tekton-catalog-catlin-lint.yaml
  tekton/ci/jobs/tekton-golang-coverage.yaml
  tekton/ci/jobs/tekton-teps-validation.yaml
  tekton/ci/shared/common-tasks.yaml
  tekton/ci/shared/gubernator-metadata.yaml
  tekton/cronjobs/README.md
  tekton/cronjobs/dogfooding/images/alpine-git-nonroot-nightly/README.md
  tekton/cronjobs/dogfooding/images/buildx-gcloud-nightly/README.md
  tekton/cronjobs/dogfooding/images/catlin-nightly/README.md
  tekton/cronjobs/dogfooding/images/coverage-image-nightly/README.md
  tekton/cronjobs/dogfooding/images/go-rest-api-test-nightly/README.md
  tekton/cronjobs/dogfooding/images/hub-nightly/README.md
  tekton/cronjobs/dogfooding/images/ko-gcloud-nightly/README.md
  tekton/cronjobs/dogfooding/images/ko-nightly/README.md
  tekton/cronjobs/dogfooding/images/koparse-nightly/README.md
  tekton/cronjobs/dogfooding/images/kubectl-nightly/README.md
  tekton/cronjobs/dogfooding/images/pipeline-test-runner-nightly/README.md
  tekton/cronjobs/dogfooding/images/teps-community-nightly/README.md
  tekton/cronjobs/dogfooding/images/tkn-nightly/README.md
  tekton/resources/cd/install-tekton-release.yaml
  tekton/resources/images/docker-multi-arch-template.yaml
  tekton/resources/images/ko-multi-arch-template.yaml
  tekton/resources/nightly-tests/base/deploy_tekton_component.yaml
  tekton/resources/nightly-tests/bastion-p/test_tekton_cli.yaml
  tekton/resources/nightly-tests/bastion-p/test_tekton_component.yaml
  tekton/resources/nightly-tests/bastion-z/cleanup_tekton.yaml
  tekton/resources/nightly-tests/bastion-z/test_tekton_cli.yaml
  tekton/resources/nightly-tests/bastion-z/test_tekton_component.yaml
  tekton/resources/nightly-tests/catalog-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/catalog-deploy-test-s390x-template.yaml
  tekton/resources/nightly-tests/dashboard-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/dashboard-deploy-test-s390x-template.yaml
  tekton/resources/nightly-tests/operator-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/operator-deploy-test-s390x-template.yaml
  tekton/resources/release/release-logs/save-release-logs.yaml
Labels: lgtm, approved, size/L, kind/misc

#2298 Revert "Switch CI/CD jobs to ghcr.io images"
  bots/mariobot/README.md
  docs/kind-e2e.md
  prow/config.yaml
  tekton/ci/cluster-interceptors/add-pr-body/tekton/publish.yaml
  tekton/ci/cluster-interceptors/build-id/tekton/publish.yaml
  tekton/ci/custom-tasks/pr-commenter/tekton/publish.yaml
  tekton/ci/custom-tasks/pr-status-updater/tekton/publish.yaml
  tekton/ci/interceptors/add-pr-body/tekton/publish.yaml
  tekton/ci/interceptors/add-team-members/tekton/publish.yaml
  tekton/ci/jobs/e2e-kind.yaml
  tekton/ci/jobs/tekton-catalog-catlin-lint.yaml
  tekton/ci/jobs/tekton-golang-coverage.yaml
  tekton/ci/jobs/tekton-teps-validation.yaml
  tekton/ci/shared/common-tasks.yaml
  tekton/ci/shared/gubernator-metadata.yaml
  tekton/cronjobs/README.md
  tekton/cronjobs/dogfooding/images/alpine-git-nonroot-nightly/README.md
  tekton/cronjobs/dogfooding/images/buildx-gcloud-nightly/README.md
  tekton/cronjobs/dogfooding/images/catlin-nightly/README.md
  tekton/cronjobs/dogfooding/images/coverage-image-nightly/README.md
  tekton/cronjobs/dogfooding/images/go-rest-api-test-nightly/README.md
  tekton/cronjobs/dogfooding/images/hub-nightly/README.md
  tekton/cronjobs/dogfooding/images/ko-gcloud-nightly/README.md
  tekton/cronjobs/dogfooding/images/ko-nightly/README.md
  tekton/cronjobs/dogfooding/images/koparse-nightly/README.md
  tekton/cronjobs/dogfooding/images/kubectl-nightly/README.md
  tekton/cronjobs/dogfooding/images/pipeline-test-runner-nightly/README.md
  tekton/cronjobs/dogfooding/images/teps-community-nightly/README.md
  tekton/cronjobs/dogfooding/images/tkn-nightly/README.md
  tekton/resources/cd/install-tekton-release.yaml
  tekton/resources/images/docker-multi-arch-template.yaml
  tekton/resources/images/ko-multi-arch-template.yaml
  tekton/resources/nightly-tests/base/deploy_tekton_component.yaml
  tekton/resources/nightly-tests/bastion-p/test_tekton_cli.yaml
  tekton/resources/nightly-tests/bastion-p/test_tekton_component.yaml
  tekton/resources/nightly-tests/bastion-z/cleanup_tekton.yaml
  tekton/resources/nightly-tests/bastion-z/test_tekton_cli.yaml
  tekton/resources/nightly-tests/bastion-z/test_tekton_component.yaml
  tekton/resources/nightly-tests/catalog-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/catalog-deploy-test-s390x-template.yaml
  tekton/resources/nightly-tests/dashboard-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/dashboard-deploy-test-s390x-template.yaml
  tekton/resources/nightly-tests/operator-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/operator-deploy-test-s390x-template.yaml
  tekton/resources/release/release-logs/save-release-logs.yaml
Labels: lgtm, approved, size/L, kind/misc

#2299 Reapply "Switch CI/CD jobs to ghcr.io images"
  bots/mariobot/README.md
  docs/kind-e2e.md
  prow/config.yaml
  tekton/ci/cluster-interceptors/add-pr-body/tekton/publish.yaml
  tekton/ci/cluster-interceptors/build-id/tekton/publish.yaml
  tekton/ci/custom-tasks/pr-commenter/tekton/publish.yaml
  tekton/ci/custom-tasks/pr-status-updater/tekton/publish.yaml
  tekton/ci/interceptors/add-pr-body/tekton/publish.yaml
  tekton/ci/interceptors/add-team-members/tekton/publish.yaml
  tekton/ci/jobs/e2e-kind.yaml
  tekton/ci/jobs/tekton-catalog-catlin-lint.yaml
  tekton/ci/jobs/tekton-golang-coverage.yaml
  tekton/ci/jobs/tekton-teps-validation.yaml
  tekton/ci/shared/common-tasks.yaml
  tekton/ci/shared/gubernator-metadata.yaml
  tekton/cronjobs/README.md
  tekton/cronjobs/dogfooding/images/alpine-git-nonroot-nightly/README.md
  tekton/cronjobs/dogfooding/images/buildx-gcloud-nightly/README.md
  tekton/cronjobs/dogfooding/images/catlin-nightly/README.md
  tekton/cronjobs/dogfooding/images/coverage-image-nightly/README.md
  tekton/cronjobs/dogfooding/images/go-rest-api-test-nightly/README.md
  tekton/cronjobs/dogfooding/images/hub-nightly/README.md
  tekton/cronjobs/dogfooding/images/ko-gcloud-nightly/README.md
  tekton/cronjobs/dogfooding/images/ko-nightly/README.md
  tekton/cronjobs/dogfooding/images/koparse-nightly/README.md
  tekton/cronjobs/dogfooding/images/kubectl-nightly/README.md
  tekton/cronjobs/dogfooding/images/pipeline-test-runner-nightly/README.md
  tekton/cronjobs/dogfooding/images/teps-community-nightly/README.md
  tekton/cronjobs/dogfooding/images/tkn-nightly/README.md
  tekton/resources/cd/install-tekton-release.yaml
  tekton/resources/images/docker-multi-arch-template.yaml
  tekton/resources/images/ko-multi-arch-template.yaml
  tekton/resources/nightly-tests/base/deploy_tekton_component.yaml
  tekton/resources/nightly-tests/bastion-p/test_tekton_cli.yaml
  tekton/resources/nightly-tests/bastion-p/test_tekton_component.yaml
  tekton/resources/nightly-tests/bastion-z/cleanup_tekton.yaml
  tekton/resources/nightly-tests/bastion-z/test_tekton_cli.yaml
  tekton/resources/nightly-tests/bastion-z/test_tekton_component.yaml
  tekton/resources/nightly-tests/catalog-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/catalog-deploy-test-s390x-template.yaml
  tekton/resources/nightly-tests/dashboard-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/dashboard-deploy-test-s390x-template.yaml
  tekton/resources/nightly-tests/operator-deploy-test-ppc64le-template.yaml
  tekton/resources/nightly-tests/operator-deploy-test-s390x-template.yaml
  tekton/resources/release/release-logs/save-release-logs.yaml
Labels: lgtm, approved, size/L, kind/misc

#2323 Fix release of single arch images to GHCR
  tekton/resources/images/single-arch-template.yaml
Labels: lgtm, approved, size/S, kind/misc

#2324 Remove dependabot config for images that have been removed from repo
  .github/dependabot.yml
Labels: lgtm, approved, size/S, kind/misc

#2325 Update kaniko version in single arch build pipeline
  tekton/resources/images/single-arch-template.yaml
Labels: lgtm, approved, size/XS, kind/misc
